.quiz-wrapper{
    width:100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    background:#f6f3ed;
    .intro-wrapper{
        width: 100%;
        background-image:url('../images/background-butterfly.png');
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center top;
        margin:0 auto;
        text-align: center;
        padding-top:6vh;
        .ps-logo{
            width:6vw;
            display: block;
            margin:0 auto 5vh auto;
        }
        h1{
            font-size:rem(107);
            line-height: rem(130);
            max-width:690px;
            margin:0 auto;
        }
        strong{
            display:block;
            font-weight: normal;
            font-family: 'univers67_condensed_bold';
        }
        p{
            width:60vw;
            margin:2vh auto;
        }
    }

    .signup-intro-wrapper{
        width: 100%;
        background-image:url('../images/learnmore-image.png');
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center top;
        margin:0 auto;
        text-align: center;
        padding-top:6vh;
        color:#f6f3ed;
        h1{
            font-family: $dollyReg;
            font-size:rem(50);
            line-height: rem(64);
            max-width:70vw;
            margin:2vh auto;
        }
        p{
            width:67vw;
            margin:2vh auto;
            strong{
                font-family:'universbold_italic',$universBold;
            }
        }
    }
    .signup-wrapper{
        width: 100%;
        background-image:url('../images/background-data-bottom.png');
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center top;
        margin:0 auto;
        padding-top:6vh;
        color:$dark;
        h1{
            text-align: center;
            font-family: $dollyReg;
            font-size:rem(50);
            line-height: rem(64);
            max-width:70vw;
            margin:2vh auto;
        }
        p{
            width:67vw;
            margin:2vh auto;
            strong{
                font-family:'universbold_italic',$universBold;
            }
        }
    }
    p.note{
        font-size:rem(16);
        color:#898989;
        text-transform: uppercase;
        &.hide{
            display:none;
        }
    }
    .question-wrapper{
        width:100%;
        text-align: center;
        p.question{
            font-family: $dollyReg;
            font-size:rem(50);
            line-height: rem(64);
            max-width:70vw;
            margin:2vh auto;
        }
        
        .ps-logo{
            @media #{$min-kiosk-height} {
                position: absolute;
                bottom: 5%;
            }
            
        }
        .answer-content-wrapper{
            width:75%;
            margin:0 auto;

            ul.answers-wrapper{
                width:100%;
                list-style: none;
                li{
                    margin:0 0 1vh 0;
                    padding:35px;
                    background:#fff;
                    border-radius: 5px;
                    font-size:rem(26);
                    text-transform: uppercase;
                    font-family: $universBold;
                    cursor: pointer;
                    -webkit-transition: all .15s linear;
                    -moz-transition: all .15s linear;
                     -ms-transition: all .15s linear;
                      -o-transition: all .15s linear;
                         transition: all .15s linear;
                    position: relative;
                    &.result{
                        text-align: right;
                    }
                    .bar{
                        display: inline-block;
                        background-color: #e0ddd8;
                        position: absolute;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 5px;
                        &.add-shadow{
                            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
                        }
                    }     
                    .bar-label{
                        position:absolute;
                        top:0;
                        font-family: $dollyReg;
                        font-size:rem(50);
                        line-height: rem(84);
                        padding-left:.5em;
                        color: #e0ddd8;
                    }
                    .result-label{
                        display:inline-block;
                        color: #e0ddd8;
                        font-size:rem(16);
                        width:50%;
                    }
                }
            }
            button.continue{
                float:right;
            }
        }
    }
    
    
    ul.numbers-wrapper{
        width: 100%;
        display:block;
        list-style:none;
        text-align:center;
        margin-top:5vh;
        li{
            display: inline-block;
            margin-right:80px;
            text-align: center;
            color:#c5c0b7;
            &:last-child{
                margin-right:0;
            }
            p{
                font-family: $universBold;
                font-size:rem(23);
                text-transform: uppercase;
                color:inherit;
            }
            div{
                color:inherit;
                font-family: $universBold;
                text-align: center;
                border:4px solid $dark;
                border-color:#c5c0b7;
                width:130px;
                height:130px;
                margin:0 auto;
                font-size:rem(63);
                line-height:rem(125);
            }
            &.active{
                color:$dark;
                div{
                    border-color:$dark;
                    background:#c8e9f0;
                }
            }
        }
    }
    
}