.quiz-wrapper{
    width:100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
background-image:url('../images/site-bg-bottom-02.png');  
       background-position: right bottom; 
       background-repeat:no-repeat;
        background-size:70%;    
 // background:#f6f3ed;
 &:before{
     display: block;
     width:100%;
     height:100%;
     content:'';
     position:absolute;
     background-image:url('../images/site-bg-top-02.png');  
       background-position: left top; 
       background-repeat:no-repeat;
        background-size:70%; 
        z-index:-1;
 }
    .intro-wrapper{
        width: 100%;
       
        // background-position: center top;
        margin:0 auto;
        text-align: center;
        align-self:center;
        //padding-top:6vh;
       
        .ps-logo{
            width:6vw;
            display: block;
            margin:0 auto 5vh auto;
        }
        h1{
            font-size:rem(107);
            line-height: rem(130);
            max-width:690px;
            margin:0 auto;
            @media #{$below-kiosk-height} {
                font-size:rem(64);
                line-height: rem(86);
            }
        }
        
        p{
            width:60vw;
            margin:2vh auto $verticalmargin;
        }
    }

    .signup-intro-wrapper{
        width: 100%;
        align-self: center;
        margin:0 auto;
        text-align: center;
        padding-top:6vh;
        color:#f6f3ed;
        @media #{$below-kiosk-height} {
            background-position: center center;
        }
        h1{
            font-family: $sans;
            font-size:rem(50);
            line-height: rem(64);
            max-width:70vw;
            margin:2vh auto;
        }
        p{
            width:67vw;
            margin:2vh auto;
            strong{
                font-family:$sans;
            }
            @media #{$below-kiosk-height} {
                font-size:rem(24);
                line-height: rem(36);
            }
        }
    }
    .signup-wrapper{
        width: 100%;
        background-image:url('../images/background-data-bottom.png');
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center top;
        margin:0 auto;
        padding-top:6vh;
        color:$dark;
        h1{
            text-align: center;
            font-family: $dollyReg;
            font-size:rem(50);
            line-height: rem(64);
            max-width:70vw;
            margin:2vh auto;
        }
        p{
            width:67vw;
            margin:2vh auto;
            strong{
                font-family:$sans;
            }
        }
        .finish-button{
            margin-top:50px;
        }
    }
    p.note{
        font-size:rem(16);
        color:#898989;
        text-transform: uppercase;
        min-height:20px;
        &.hide{
            display:none;
            min-height:16px;
            @media #{$below-kiosk-height} {
                min-height: 12px;
            }
        }
        @media #{$below-kiosk-height} {
            font-size:rem(12);
            line-height:12px;
        }
    }
    .question-wrapper{
        width:100%;
        text-align: center;
        align-self: center;
        p.question{
            font-family: $sans;
            font-weight: 500;
            font-size:rem(50);
            line-height: rem(64);
            max-width:65vw;
            margin:2vh auto;
            @media #{$below-kiosk-height} {
                font-size:rem(36);
                line-height: rem(42);
            }
        }
        
        .ps-logo{
            @media #{$min-kiosk-height} {
                position: absolute;
                bottom: 5%;
            }
            
        }
        .answer-content-wrapper{
            width:65%;
            margin:0 auto;

            ul.answers-wrapper{
                width:100%;
                list-style: none;
                padding:0;
                li{
                    margin:0 0 .5vh 0;
                    padding:35px;
                    background:#fff;
                    border-radius: 5px;
                    font-size:rem(26);
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: $sans;
                    cursor: pointer;
                    -webkit-transition: all .15s linear;
                    -moz-transition: all .15s linear;
                     -ms-transition: all .15s linear;
                      -o-transition: all .15s linear;
                         transition: all .15s linear;
                    position: relative;
                    text-align: left;
                    @media #{$below-kiosk-height} {
                        font-size:rem(16);
                        padding:10px;
                    }
                    &.answer{
                        &.selected{
                            background:$lightblue;
                            color:$blue;
                            &:after{
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                content:"\F00C";
                                display:block;
                                position: absolute;
                                right:10px;
                                color:$blue;
                                top:12px;
                            }
                        }
                    }
                    &.result{
                        display: flex;
                        align-items: stretch;
                        &.selected{
                            background:$lightblue;
                            color:$blue;
                            .result-label{
                                color:$blue;
                            }
                            .result-correct{
                                padding-right:20px;

                            }
                            &:after{
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                content:"\F00C";
                                display:block;
                                position: absolute;
                                right:10px;
                                color:$white;
                                top:12px;
                            }
                        }
                        &.correct{
                            background:$blue;
                            color:$white;
                            .result-label{
                                color:$white;
                                font-weight: 700;
                                
                            }
                        }
                        .result-label{
                            display:inline-block;
                            color: $grey;
                            width:70%;
                        }
                        .result-correct{
                            width:30%;
                            text-align: right;
                            &.hide{
                                display:none;
                            }
                        }
                    }
                    .bar{
                        display: inline-block;
                        background-color: #e0ddd8;
                        position: absolute;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 5px;
                        &.add-shadow{
                            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
                        }
                    }     
                    .bar-label{
                        position:absolute;
                        top:0;
                        font-family: $sans;
                        font-size:rem(50);
                        line-height: rem(84);
                        padding-left:.5em;
                        color: #e0ddd8;
                        @media #{$below-kiosk-height} {
                            font-size:rem(32);
                            line-height: rem(36);
                        }
                    }
                    .answer-label{
                        width:92%;
                        display: inline-block;
                        color:$blue;
                    }
                    
                }
            }
            button.continue{
                float:right;
            }
        }
    }
    
    
    ul.numbers-wrapper{
        width: 100%;
        display:block;
        list-style:none;
        text-align:center;
        margin-top:5vh;
        li{
            display: inline-block;
            margin-right:80px;
            text-align: center;
            color:#c5c0b7;
            @media #{$below-kiosk-height} {
                margin-right:20px;
            }
            &:last-child{
                margin-right:0;
            }
            p{
                font-family: $universBold;
                font-size:rem(23);
                text-transform: uppercase;
                color:inherit;
                @media #{$below-kiosk-height} {
                    font-size:rem(18);
                }
            }
            div{
                color:inherit;
                font-family: $universBold;
                text-align: center;
                border:4px solid $dark;
                border-color:#c5c0b7;
                margin:0 auto;
                width:130px;
                height:130px;
                font-size:rem(63);
                line-height:rem(125);
                @media #{$below-kiosk-height} {
                    width:80px;
                    height:80px;
                    font-size:rem(36);
                    line-height:rem(80);
                }
            }
            &.active{
                color:$dark;
                div{
                    border-color:$dark;
                    background:#c8e9f0;
                }
            }
        }
    }
    
}

.page-content-enter {
    opacity: 0.01;
}

.page-content-enter.page-content-enter-active {
    opacity: 1;
    transition: opacity .25s ease-in;
}

.page-content-leave {
    opacity: 1;
}

.page-content-leave.page-content-leave-active {
    opacity: 0.01;
    transition: opacity .25s ease-in;
}

.page-content-appear {
    opacity: 0.01;
}

.page-content-appear.page-content-appear-active {
    opacity: 1;
    transition: opacity .25s ease-in;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity .25s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity .25s ease-in;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .25s ease-in;
}