
$globalmarginunit:15;
$globalmarginem: em($globalmarginunit);
$globalmargin:15px;
$verticalmargin:rem(40);
$max-width:1280px;
$gridcols: 12;
$selectMinWidth: 200px;

//color palette
$dark:#292a2d; //dark grey
$light:#ccc; //very light grey
$hilite:#ef6e64;//#b91919; //salmon
$button: $hilite;
$hover:#c3564d;//#a73131;
$althilite:#c8e9f2; //lightblue
$socialGrey: #ccc;
$grey: #c6c1b8;
$white: #ffffff;
$blue:#2e88a7;
$lightblue:#9dd5e2;
$copy:$white;
$form-element-border:rgb(180, 180, 180);

//fonts
// font-family: 'Quicksand', sans-serif;
// font-family: 'Crimson Text', serif;
// font-family: 'Libre Baskerville', serif;
// font-family: 'Source Serif Pro', serif;
// font-family: 'Comfortaa', cursive;

$sans: 'Quicksand', sans-serif;
$serif: 'Source Serif Pro', serif;

$universReg:'Source Serif Pro', serif;
$universBold:'Source Serif Pro', serif;
$universCond: 'Quicksand', sans-serif;
$universThinCond:'Quicksand', sans-serif;
$universBoldCond: 'Quicksand', sans-serif;
$dollyReg:'DollyPro-Reg','Times New Roman', 'Times', 'serif';
$dollyBold:'DollyPro-Bold','Times New Roman', 'Times', 'serif';

//breakpoints
$mobile: "(max-width: 767px)";
$tablet: "(min-width:768px) and (max-width:1024px)";
$tablet-under:"(max-width:1024px)";
$desktop: "(min-width: 1025px)";
$desktop-xl: "(min-width:1600px)";

$min-kiosk-height:"(min-height:1600px)";
$below-kiosk-height:"(max-height:1599px)";

//*------------------------------------*\
//    $EASING VARIABLES
//*------------------------------------*/

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(0.19, 1, 0.22, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$easeInOutFast: cubic-bezier(1,0,0,1);

$authenticMotion: cubic-bezier(.4,0,.2,1);

$bezier: cubic-bezier(.32, .01, 0, 1);
$bezier-nav: cubic-bezier(.03,.46,.31,.97);
$bezier-spinner: cubic-bezier(.71, .38, .31, .65);
